# IP Público da sua máquina na AWS (Sem http://, ex: 18.232.55.1)
APP_DOMAIN=IP_DA_AWS

# O Docker usa essa variável durante o build para conectar no backend via proxy.
VITE_API_URL=http://${APP_DOMAIN}/api
